
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  outline:  2px #1d3843 solid;
  background-color: #f7eed2;
}

#geo-trivia-logo {
  width: 100px;
}

#name-title-subtitle {
  display: block;
  justify-items: center;
}

#title {
  font-size: 36px;
  font-family: Courier, monospace;
  font-weight: 900;
  color: #1d3843;
  margin: 0;
  
}

#subtitle {
  font-size: 18px;
  font-family: Courier, monospace;
  font-weight: 900;
  color: #1d3843;
  margin: 0;
}