main {
    /* outline: 1px red solid; */
}

#continent-btns {
    display: flex;
    justify-content: space-evenly;
    /* outline: 1px red solid; */
    margin: 15px 0 0 0;
    flex-wrap: wrap;
}
.continent-btn {
    width: 100px;
    height: 45px;
    color: #f7eed1;
    background-color: #7aa363;
    padding: 5px 10px 5px 10px;
    margin: 0 8px 10px 0;
    border-radius: 10px;
    font-weight: 800;
    box-shadow: 5px 5px 3px #3e5435;
    cursor: pointer;
}

#population-instructions {
    font-family: Courier, monospace;
    text-align: center;
    margin: 40px 50px 0px 50px;
    font-size: 20px;
}
#img-boxes {
    /* outline: 1px red solid; */
    justify-content: space-between;
    margin: -7px 20px 0px 20px;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
}
.img-name-box {
    margin: 0px 0 20px 0;
    
}
.img-box {
    border: 10px #417e82 solid;
    border-bottom: 26px solid #417e82;
    height: 200px;
    width: 140px;
    object-fit: cover;
    margin: 0px 0 -30px 0;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #306067;
    background-color: #ffffff;
    position: relative;
    top: -18px;
    left: 1px
}
.city-name {
    text-align: center;
    margin: 1px 0 0 0;
    color:#f7eed1;
    /* outline: 1px solid red; */
    margin: -15px -21px 0px 2px;
    font-family: Courier, monospace;
    font-size: 18px;
    position: relative;
}
.number {
    /* border:#3e5435 2px solid; */
    background-color: #7aa363;
    padding: 0 2px 0 2px;
    color: #f7eed1;
    border-radius: 3px;
    position: relative;
    top: -14px;
    left: -14px;
}

#pop-img-section {
    display: flex;
    width: 100%;
    margin-top: px;
}

#pop-img-section > div {
    display: flex;
    justify-content: center;
    align-items: center;
}
#left-pop-img img {
    max-width: 20%;
    height: auto;
    display: flex;
    object-fit: contain;
    justify-content: center;
    margin-right: auto;
    margin-left: 40px;
}
#right-pop-img img {
    max-width: 20%;
    height: auto;
    display: flex;
    object-fit: contain;
    justify-content: center;
    margin-left: auto;
    margin-right: 40px;
}
#arrow-img img {
    max-width: 100%;
    height: auto;
    object-fit: cover;

}
.column {
    border: 10px #306067 solid;
    border-bottom: 26px solid #306067;
    height: 200px;
    width: 140px;
    margin: 10px 0 20px 0;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #306067;
    background-color: #306067;
}
.city-pop {
    outline: 5px #306067 solid;
    border-radius: 5px;
    position: relative;
    text-align: center;
    top: -110px;
    left: 11px;
    color: #306067;
    background-color: white;
    font-size: 30px;
    font-weight: 900;
    transform: rotate(-20deg);
    text-shadow: 1px 1px 1px #0d282c;
}