
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  outline:  2px #1d3843 solid;
  background-color: #f7eed2;
}
header {
  display: flex;
  align-items: center;
}
#geo-trivia-logo {
  width: 80px;
}

#moves-left {
  height: 70px;
  margin: 10px 0 0 10px;
}
#score {
  height: 70px;
  margin: 10px 10px 0 0;
}
#name-title-subtitle {
  display: block;
  justify-items: center;
}

#title {
  font-size: 36px;
  font-family: Courier, monospace;
  font-weight: 900;
  color: #1d3843;
  margin: 0;
}

#subtitle {
  font-size: 18px;
  font-family: Courier, monospace;
  font-weight: 900;
  color: #1d3843;
  margin: 0;
}